<ion-header >
  <ion-toolbar >
    <ion-title id="title">
    <p id="p3"> Chuck Norris</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  
  <div id="maindiv">
  <h1>About</h1>
  <ion-img src="https://wpblink.com/sites/default/files/wallpaper/celebrities/67181/chuck-norris-wallpapers-hd-67181-4280012.png"></ion-img> 
  <p>Carlos Ray Norris (born March 10, 1940) is an American martial artist, actor, film producer and screenwriter. After serving in the United States Air Force, he competed as a martial artist who won many championships, and has since founded his own school of fighting, Chun Kuk Do. Norris is also a black belt in Brazilian jiu jitsu and Judo.In 1969, Norris made his acting debut in the Dean Martin film The Wrecking Crew.</p>

  <h1>Some of his movies</h1>
  <div id='slidediv'>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <ion-img src="https://m.media-amazon.com/images/M/MV5BYmExNGJmOTktZWVhZS00ZTAyLTgyOTItYWZlODA4MWMwNzU1XkEyXkFqcGdeQXVyNzc5MjA3OA@@._V1_.jpg"></ion-img>
        <ion-card-header>
            <ion-card-title id="h1">A Force of One</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p id="p1">Is a 1979 action martial arts film starring Chuck Norris, Jennifer O'Neill, Ron O'Neal, Clu Gulager and Bill Wallace. The film was directed by Paul Aaron and written by Pat E. Johnson and Ernest Tidyman.</p>
        </ion-card-content>
    </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <ion-img src="https://cdn.shopify.com/s/files/1/0598/2925/products/cmE0tUX.jpg?v=1521585389"></ion-img>
        <ion-card-header>
            <ion-card-title id="h1">The Delta Force</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p id="p1">Is a 1986 American action thriller film starring Chuck Norris and Lee Marvin (in his final film appearance) as leaders of an elite squad of Special Forces troops based on the real life U.S. Army Delta Force unit.</p>
        </ion-card-content>
    </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card>
        <ion-img src="https://images-na.ssl-images-amazon.com/images/I/91lXmxbc8AL._SL1500_.jpg"></ion-img>
        <ion-card-header>
            <ion-card-title id="h1">Hellbound</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p id="p1">Hellbound is a 1994 supernatural thriller film starring Chuck Norris, Calvin Levels and Christopher Neame. It was directed by Aaron Norris and written by Ian Rabin, Anthony Ridio and Brent Friedman. It was the final film made by Cannon Films.</p>
        </ion-card-content>
    </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card>
          <ion-img src="https://images-na.ssl-images-amazon.com/images/I/91dNZL62OKL._SL1500_.jpg"></ion-img>
          <ion-card-header>
              <ion-card-title id="h1">The Expendables 2</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p id="p1">It is the sequel to the 2010 action film The Expendables, and stars Sylvester Stallone, Jason Statham, Jet Li, Dolph Lundgren, Chuck Norris, Terry Crews, Randy Couture, Liam Hemsworth, Jean-Claude Van Damme, Bruce Willis, and Arnold Schwarzenegger.The story follows the mercenary group known as "the Expendables" as they undertake a seemingly simple mission which evolves into a quest for revenge. </p>
          </ion-card-content>
      </ion-card>
      </ion-slide>
  </ion-slides>  
</div>
  <h1>Famous for</h1>
  <p>By the late 70s he was popular enough to headline his own movies, and starred in cult classics such as "Good Guys Wear Black," "Delta Force" and "Missing in Action." He currently stars in the popular TV series "Walker, Texas Ranger." Norris' fame grew to the point that fans began making up "Chuck Norris facts" about him (i.e., "Chuck Norris once kicked a horse in the chin. Its descendants today are known as giraffes"), and to this day new "Chuck Norris facts" are still being created.</p>
  
  <h1>Feedback</h1>
  <ion-item>
      <ion-label>What did you like the most about the page</ion-label>
      <ion-select value="Chucknorris" ok-text="Okay" cancel-text="Dismiss">
        <ion-select-option value="slidingCards">Sliding cards</ion-select-option>
        <ion-select-option value="About">About him</ion-select-option>
        <ion-select-option value="Memes">Memes</ion-select-option>
        <ion-select-option value="Facts">Facts</ion-select-option>
        <ion-select-option value="Feedback">Feedback feature</ion-select-option>
        <ion-select-option value="eve">Everything about this page </ion-select-option>
        <ion-select-option value="Chucknorris">Chuck Norris :p</ion-select-option>
      </ion-select> 
  </ion-item>
  <ion-item>
      <ion-label>Chuck Norris is</ion-label>
      <ion-select value="3" ok-text="Okay" cancel-text="Dismiss">
        <ion-select-option value="1">Funny</ion-select-option>
        <ion-select-option value="2">Angry</ion-select-option>
        <ion-select-option value="3">Dangerous</ion-select-option>
        <ion-select-option value="4">My dad</ion-select-option>
      </ion-select>
    </ion-item>
  <ion-item>
      <ion-label>The page was informative</ion-label>
      <ion-select value="Yes" ok-text="Okay" cancel-text="Dismiss">
        <ion-select-option value="Yes">Yes</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Favourite movie </ion-label>
        <ion-select value="1" ok-text="Okay" cancel-text="Dismiss">
          <ion-select-option value="1">The Wrecking Crew</ion-select-option>
          <ion-select-option value="2">Way of the Dragon</ion-select-option>
          <ion-select-option value="3">Yellow Faced Tiger</ion-select-option>
          <ion-select-option value="4">A Force of One</ion-select-option>
          <ion-select-option value="5">An Eye for an Eye</ion-select-option>
          <ion-select-option value="6">Lone Wolf McQuade</ion-select-option>
          <ion-select-option value="7">Missing in Action 2: The Beginning</ion-select-option>
          <ion-select-option value="8">Invasion U.S.A.</ion-select-option>
          <ion-select-option value="9">The Delta Force</ion-select-option>
          <ion-select-option value="10">Hero and the Terror</ion-select-option>
          <ion-select-option value="11">Hellbound</ion-select-option>
          <ion-select-option value="12">The Expendables 2</ion-select-option>
        </ion-select>
      </ion-item>
      </div>
      <ion-button shape="rectangle" id="saveButton" expand="full" color="dark" fill="outline" href="/facts">Go to Chuck Norris Facts</ion-button>
      <p id="p2">This page is Chuck Norris Certified</p>
    </ion-content>
